---
---

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    font-size: 26px;
}

body {
    font-family: 'Share Tech Mono', monospace;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0 1em;

    & > p {
        text-align: center;
        font-size: 1rem;
        color: #303030;
        margin: 0 0 0.5rem 0;
    }

    & .links {
        & span, a {
            margin: 0 0.5em;
        }
    }
}

header > h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 0 0;
    text-align: center;
}

@media (min-width: 576px) {
    header > h1 {
        font-size: 5rem;
        margin: 0.5rem 0 0 0;
    }
}

a {
    color: #5f9ea0;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
        color: #4f4f4f;
        text-decoration: underline;
    }

    &:active {
        color: #000000;
        font-weight: bold;
    }

    & > .iconify {
        margin-right: 0.25rem;
    }
}

.iconify.ext-link {
    font-size: 0.75em;
}
