---
---

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    font-size: 26px;
}

body {
    font-family: 'Share Tech Mono', monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h2 {
    font-size: 2rem;
    text-decoration: underline;
}

a.link {
    color: #000000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
        color: #4f4f4f;
        text-decoration: underline;
    }

    &:active {
        color: #000000;
        font-weight: bold;
    }

    & > .iconify {
        margin-right: 0.25rem;
    }
}

.iconify.ext-link {
    font-size: 0.75em;
}

@media (min-width: 576px) {
    html { font-size: 24px; }
    main { max-width: 576px; }
}
@media (min-width: 768px) {
    html { font-size: 22px; }
    main { max-width: 768px; }
}
@media (min-width: 992px) {
    html { font-size: 20px; }
    main { max-width: 992px; }
}
@media (min-width: 1200px) {
    html { font-size: 18px; }
    main { max-width: 1200px; }
}
