<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if page.title != nil %}{{ page.title }} |{% endif %}John Ellis</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF"/>

    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>

    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/projects.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js" defer></script>

    {% include seo.html %}
</head>

<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>
</body>

</html>
