<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <meta name="author" content="John Ellis">
    <meta name="description" content="JohnEllis.dev Personal Portfolio Site">
    <meta name="keywords" content="John Ellis, John Ellis Portfolio, John, Portfolio">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF"/>

    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>

    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/projects.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js" defer></script>
</head>

<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>
</body>

</html>
