---
layout: default
---
<article class="project-full">
        <h2>{{ page.project_title }}</h2>

        {% if page.client != nil %}
            <p class="client">{{ page.client }}</p>
        {% endif %}

        {% if page.repo_url != nil %}
        <a href={{ page.repo_url }} class="link repo" target="_blank" rel="noopener noreferrer">
            <span class="iconify" data-icon="logos-github-icon" data-inline="false"></span>
            {{ page.repo_name }}
        </a>
        {% endif %}

        <div>
            {{ content | markdownify }}
        </div>
</article>
